<div>
	<a href="/">home</a>
	<a href="/menu">menu</a>
</div>
<hr />

<script src="./apihelper.ts"></script>

<button id="test-api">API TEST</button>
<button id="test-api-2">API TEST222</button>

<hr />

<slot />
