---
import Layout from "../layouts/Layout.astro";
const { cookies } = Astro;

const otpEmail = cookies.get("otp-email");
cookies.delete("otp-email", {
	path: "/",
});
---

<Layout title="Verify One-Time-Password">
	<h1>please check your email and spam folder</h1>
	<h2>and confirm your One-Time-Password</h2>
	<form action="/api/auth/verify-otp" method="post">
		<label for="email">Email</label>
		<input type="email" name="email" id="email" value={otpEmail?.value} />
		<label for="otp">One-Time-Password</label>
		<input type="text" name="otp" id="otp" />
		<button type="submit">confirm</button>
	</form>
</Layout>
