---
import Layout from "../layouts/Layout.astro";
const user = Astro.locals.user;

const { data } = await Astro.locals.supabase.auth.getSession();
---

<Layout title="index">
	{
		user ? (
			<div>
				<form action="/api/auth/signout">
					{user.email}
					<button type="submit">Sign out</button>
				</form>
			</div>
		) : (
			<div>
				<h1>Welcome, guest!</h1>
				<form action="/api/auth/sign-in-with-otp" method="post">
					<label for="email">Email</label>
					<input type="email" name="email" id="email" />
					<button type="submit">Login</button>
				</form>
				<hr />
				OR
				<hr />
				<form action="/api/auth/signin" method="post">
					<button value="google" name="provider" type="submit">
						Sign in with Google
					</button>
				</form>
			</div>
		)
	}

	<pre>
	Session: 
	{ JSON.stringify(data, null, 2) }
	</pre>
</Layout>
