---
const user = Astro.locals.user;
---

{
	user ? (
		<div>
			<form action="/api/auth/signout">
				{user.email}
				<button type="submit">Sign out</button>
			</form>
			<hr />
		</div>
	) : (
		<h1>Welcome, guest!</h1>
	)
}
<slot />
